@font-face {
    font-family: "High Tower Text";
    src: url("fonts/HighTowerText.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Crimson Pro";
    src: url("fonts/CrimsonPro-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,nav,button,a {font-family: "High Tower Text", Georgia, serif;}
body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Crimson Pro", Times New Roman, serif;
}

