@font-face {
    font-family: "High Tower Text";
    src: url("fonts/HighTowerText.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "High Tower Text", Georgia, serif;
}
