@font-face {
    font-family: "High Tower Text";
    src: url("fonts/HighTowerText.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "High Tower Text", Georgia, serif;
}
.container a {
  position: relative;
  width: 300px;
  height: 60px;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 0px;
}

.container a:before,
.container a:after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #00AEEF, #000000, #000000, #FFB700);
  transition: 0.5s;
  opacity: 0;
  border-radius: 0px;
}

.container a:hover:before {
  inset: -4px;
  opacity: 1;
}

.container a:hover:after {
  inset: -4px;
  filter: blur(15px);
  opacity: 1;
}

.container a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FF0000;
  border-radius: 0px;
  overflow: hidden;
  transition: color 0.3s, border-color 0.3s;
}

.container a:hover span {
  color: #00AEEF;
  border-color: transparent;
}

.container a span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skew(25deg);
}
